.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.dashboard-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.stat-card {
  padding: 25px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-4px);
}
.stat-card h3 {
  color: var(--secondary);
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 32px;
  font-weight: bold;
}

.subject-section {
  margin-top: 40px;

  background: var(--white);

  padding: 25px;

  border-radius: 12px;

  box-shadow: var(--shadow);
}

.subject-section h2 {
  margin-bottom: 15px;
  color: var(--primary);
}

.subject-item {
  padding: 15px 20px;
  margin-bottom: 12px;

  background: var(--background);

  border-left: 5px solid var(--accent);

  border-radius: 8px;

  font-weight: 600;

  transition: 0.3s;
}