.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background-color: var(--primary);
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links button {
  padding: 8px 14px;

  border: none;

  border-radius: 6px;

  cursor: pointer;
}